/**** Resize the root  to font-size: 1rem = 10px ***/
html {
    font-size: 62.5%;
}
/**** Resize margin and padding ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** Define the root ***/
:root {
    --firstColor : orange;
    --secondColor : black;
    --thirdColor: white;
    --fourthColor: #d3d6d8;
    --footerBcg: #353535;

    /*** Font-size ***/
    --firstTitle: 5rem;
    --secondTitle: 4rem;
    --thirdTitle: 3rem;
    --articleCardTitle: 2rem;
    --readMoreLink: 2rem;
    --paragraph: 1.8rem;
    --footerTitle: 1.8rem;
    --recentArticleLinks: 1.6rem;
    --actualiteSpan: 1.5rem;
    --other: 5rem;

    /*** Font-family ***/
    --firstFF : SourceSansPro-SemiBold;
    --secondFF : sourceSansPro-Bold;

            /** Mobile **/
                /*** Font-size ***/
    --M_firstTitle: 5rem;
    --M_secondTitle: 4rem;
    --M_thirdTitle: 3rem;
    --M_readMoreLink: 2rem;
    --M_paragraph: 1.8rem;
    --M_footerTitle: 1.8rem;
    --M_recentArticleLinks: 1.6rem;
    --M_actualiteSpan: 1.5rem;
    --M_other: 5rem;

}

/**** Define all the font face ***/
@font-face {
    font-family: SourceSansPro-SemiBold;
    src: url(../ressources/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf);
    font-weight: bold;

}

@font-face {
    font-family: sourceSansPro-Bold;
    src: url(../ressources/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
    font-weight: bold;
}

/*** common class ***/
.shadow {
    box-shadow: 0 0 .5rem .1rem var(--secondColor);
    border-radius: .3rem;
}


/******************* Header style start here ******************/
/**********************                   *****************/
header {
    text-align: center;
}


/** This is about the block for the page title **/

.title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/abstract-p.jpg);
}

.block_title {
    position: relative;
    width: 50vw;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 5rem;
    padding-inline: 2rem;
    text-align: center;
    border-radius: 2rem;
    background-color: var(--thirdColor);
    
}

.block_title>h2 {
    font-size: var(--secondTitle);
}

.block_title>h2::first-letter {
    font-size: 6rem;
    color: var(--firstColor);
}

.block_title>span {
    font-size: 1.5rem;
}


.nav_logo {
    display: flex;
    justify-content: center;
    padding-block: 2rem;
    box-shadow: 0px 0px 15px var(--secondColor);
    z-index: 1;
}

/** Use this class in js to put the header in sticky position after scrolling **/
.sticky {
    width: 100%;
    position: fixed;
    background-color: var(--thirdColor);
}

.logo>a>img {
    width: 50%;
}

p {
    margin-block: 1rem;
    font-size: var(--paragraph);
}

/**************************  the navigation ***********************/

nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    transition: all 2s;
}

nav>ul>li {
    position: relative;
    padding-inline: 2rem;
    padding-block: 1rem;
}

nav>ul>li>a,
.btnCompte {
    text-decoration: none;
    font-family: sourceSansPro-Bold;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    color: var(--secondColor);

}

.btnCompte {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* padding: .5rem; */
    border-radius: .5rem;
    color: var(--secondColor);
    background-color: var(--thirdColor);
    border: none;
    
}

.btnCompte>.fa-solid {
    position: relative;
    bottom: .3rem;
    margin-inline: .5rem;
}

.btnCompte:hover>.fa-solid {
    color: var(--firstColor);
}

.monCompte {
    display: block;
}

ul>li>ul {
    display: none;
    position: absolute;
    right: 0rem;
    left: 0rem;
    top: 7rem;
    background-color: var(--thirdColor);
    transition: 2s;
    z-index: 1;
}

ul>li>ul>li {
    list-style: none;
    padding-inline: 1rem;
    padding-block: .5rem;
    margin-bottom: .8rem;
    text-align: left;
}

ul>li>ul>li:hover a {
    color: var(--firstColor);
}

ul>li>ul>li>a {
    text-decoration: none;
    font-family: sourceSansPro-Bold;
    font-size: 1.8rem;
    font-weight: bold;
    font-style: italic;
    color: var(--secondColor);
}

/*user profil picture*/

.userpicture {
    width: 8rem;
}

.userpicture>img {
    width: 50%;
    border-radius: 50%;
}

.btnCompte:hover>.userpicture>img {
    transform: scale(1.3);
}

/*active and hover on the navigation*/
.active a {
    color: var(--firstColor);
}

nav>ul>li:hover>a {
    color: var(--firstColor);
}

.fa-bars {
    display: none;
}

/**********************     Hero section    *****************/

.heroImage {
    position: relative;
}

.heroImage>img {
 width: 100%;
 height: 100%;
 animation: heroAnim 3s forwards;
}

@keyframes heroAnim {
    0% {
        opacity: 10%;
    }

    20% {
        opacity: 20%;
    }

    40% {
        opacity: 40%;
    }

    60% {
        opacity: 60%;
    }

    80% {
        opacity: 80%;
    }

    100% {
        opacity: 100%;
    }
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 1.5rem;
}

.quote>q {
    max-width: 40rem;
    /* min-width: 20rem; */
    font-family: sourceSansPro-Bold;
    font-size: 2rem;
    margin-block: 3rem;
    padding: 0.5rem;
    text-align: center;
    border-left: 2px solid var(--firstColor);
    border-bottom: 2px solid var(--firstColor);
}

.elite {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    text-align-last: left;
}

.elite>p:first-of-type {
    position: relative;
    font-size: 8rem;
    width: 80rem;
    visibility: hidden;
    overflow: hidden;
    animation: textAnim 4s .3s forwards;
}

@keyframes textAnim {
    0% {
        visibility: hidden;
    }
    20% {
        visibility: hidden;
    }
    30% {
        visibility: hidden;
    }
    40% {
        visibility: visible;
    }
    70% {
        visibility: visible;
    }
    80% {
        visibility: visible;
    }

    100% {
        visibility: visible;
    }
}

#highfive,
.univ {
    font-size: 8rem;
}

#highfive {
    visibility: hidden;
}

.univ {
    display: none;
    position: absolute;
    bottom: .2%;
    right: -10%;
    animation: univ 4s forwards ;
}

@keyframes univ {
    0% {
        opacity: 0%;
    }

    10% {
        opacity: 20%;
    }

    20% {
        opacity: 45%;
    }

    40% {
        opacity: 65%;
    }

    60% {
        opacity: 85%;
    }

    100% {
        opacity: 100%;
    }
}
.elite>p:first-of-type>span {
    position:absolute;
    top: 5%;
    left: 0%;
    height: 10rem;
    width: 100%;
    transform: translateX(-100rem);
    background-color: var(--secondColor);
    animation: over_text 5s forwards;
}

@keyframes over_text {
    from {
        transform: translateX(-100rem);
    }
    
    to {
        transform: translateX(90rem);
        visibility: hidden;
    }
}


/******************* Main style start here ******************/
    /**********************   Main   *****************/
    
main {
    background-color: var(--fourthColor);
}

.container {
    max-width: 130rem;
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin: 0 auto;
    padding: 1.5rem;
}

.forSection {
    width: 70%;
    padding: 3rem;
    background-color: var(--thirdColor);
    /* background-color: var(--fourthColor); */
}

.galerieContainer {
    background-image: url(/svg/clones-2029896.svg);

}

.forArticle {
    padding: 3rem;
    padding-top: 5rem;
}

.forArticle>img {
    width: 100%;
}


       /* Style about "actualité" and page "actualités" */
                /* .................................. */

.section-head {
    text-align: center;
    padding: 2rem;
    background-color: var(--fourthColor);
}
.section-head>p {
    text-align: center;
    font-size: var(--other);
    color: var(--firstColor);
}

.section-head>h2 {
    font-size: var(--M_secondTitle);
    text-align: center;
}

.forSection section {
    width: 100%;
    margin-top: 5rem;
}

.forSection>div:first-of-type>h3 {
    font-size: var(--M_thirdTitle);
    margin-bottom: 1.8rem;
}

.forSection>div:first-of-type>button {
    height: 3rem;
    padding-inline: 1rem;
    margin: .3rem;
    font-size: 2rem;
    color: var(--thirdColor);
    cursor: pointer;
    border: .2rem solid var(--thirdColor);
    border-left-color: var(--firstColor);
    border-right-color: var(--firstColor);
    background-color: gray;
}

.forSection>div:first-of-type>button:hover {
    border-top-color: var(--firstColor);
    border-bottom-color: var(--firstColor);
    border-left-color: initial;
    border-right-color: initial;
}

.forNews {
   margin-bottom: 5rem;
   text-align: center;
}

.forNews>img {
    width: 100%;
}

.forNews>div {
    padding: 2rem;
}

.forNews>div>span {
    display: block;
    padding-top: .5rem;
    font-size: var(--actualiteSpan);
    color: var(--fourthColor);
}

.forNews>div h3 {
    font-family: var(--secondFF);
    font-style: italic;
    font-size: var(--thirdTitle);
    color: var(--firstColor);
}

.forNews>div a {
    text-decoration: none;
    font-size: var(--readMoreLink);
    color: var(--thirdColor);
    background-color: var(--secondColor);
    padding: 1rem;
    border-radius: .3rem;
}

.forNews>div a .fa-solid {
    position: relative;
    top: .6rem;
    font-size: var(--thirdTitle);
    color: var(--firstColor);
}
/*** ellipsis ***/
.articleBody {
    /* width: 15rem; */
    height: 4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


     /* Style about "espace decouverte" */
 /* ....................................... */
.discover {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}


.discover-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
} 

.discover-card {
    width: 40rem;
    height: 60rem;
    position: relative;
    overflow: hidden;
}

.discover-wrapper:hover>.discover-card:not(:hover)>img {
    filter: blur(.3rem);
}

.discover-card>img {
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    transition: 1s;
}
.discover-card:hover>img {
    transform: scale(1.5);
}

.discover-card-txt {
    position: absolute;
    bottom: 1rem;
    margin: 2rem;
    background-color: var(--secondColor);
}

.discover-card-txt h3,
.discover-card-txt h3>a {
    font-size: var(--thirdTitle);
    color: var(--thirdColor);
    text-decoration: none;
}

.discover-card-txt .fa-solid {
    color: var(--firstColor);
}


    /* Style about the aside section */
 /* .................................. */

 aside {
    width: 45%;
    padding: 1rem;
    background-color: var(--thirdColor);
}

 aside section {
    margin-block: 4rem;
    padding-block: 1.5rem;
 }

 .recentArticle div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem;
}

 .recentArticle h3,
 .rubriques h3,
 .aboutAuthor h3 {
    font-size: var(--thirdTitle);
    text-align: center;
    margin-bottom: 1.5rem;
}

 .recentArticle a {
    display: inline-block;
    color: var(--secondColor);
    font-size: var(--recentArticleLinks);
    margin-left: 0.5rem;
}

.recentArticle a:hover {
    color: var(--firstColor);
}

 .recentArticle img {
    width: 50%;
}

.rubriques a {
    display: block;
    font-size: 2rem;
    text-align: center;
}

.rubriques>a::before {
    content: url(images/circle.png);
    margin-right: .5rem;
}

.aboutAuthor {
    padding: 2rem;
    text-align: justify;
}

.aboutAuthor div {
    height: 15rem;
    width: 15rem;
    margin: 0 auto;
}
.aboutAuthor img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: .5rem solid var(--firstColor);

 }



/******************* actualités style start here ******************/
    /**********************   actualités   *****************/
    .forButton {
        text-align: center;
        margin-bottom: 2rem;
    }

    section.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 4rem;
    padding-inline: .5rem;
    margin-block: revert;
}

.card {
    /* flex-basis: 50%; */
    width: 30rem;
    text-align: center;
    background-color: var(--fourthColor);
}

.card img {
    width: 100%;
}

.card>div>p {
    text-decoration: underline;
    text-align: center;
    margin: .5rem;
    color: var(--firstColor);
}

.card>div>a {
    display: block;
    text-decoration: none;
    color: var(--secondColor);
    font-size: var(--articleCardTitle);
    text-align: center;
    margin: 1rem;
}

.card>div>a:hover {
    color: var(--firstColor);
}

.card>div>span{
    display: inline-block;
    font-size: 1.2rem;
    align-items: center;
    margin-block: 1rem;
}

/**To sort the articles **/
.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

/******************* galerie style start here ******************/
    /**********************   galerie   *****************/

.forGalerie {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: max-content;
}

.galerieCard {
    position: relative;
    width: 30rem;
    border: 2px solid var(--firstColor);
    margin: 2rem;
    height: min-content;
    cursor: pointer;
}

.galerieCard>img {
    width: 100%;
    height: 100%;
}

.deleteImages {
    font-size: 2rem;
    color: red;
    cursor: pointer;
    transform: rotate(45deg);
}

.deleteImages,.fa-plus-circle {
    position: absolute;
    top: -1%;
    right: -6%;
}

.galerieModal {
    display: none;
    position: fixed;
    padding-top: 100px;
    z-index: 1;
    left: 0;
    top: 12%;
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.closeImage {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .closeImage:hover,
  .closeImage:focus {
    color: var(--firstColor);
    text-decoration: none;
    cursor: pointer;
  }


/******************* Footer style start here ******************/
    /**********************   Footer   *****************/

footer {
    text-align: center;
    color: var(--thirdColor);
    background-color: var(--footerBcg);
}

.footerLogo{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 10rem;
}

.footerLogo>a>img {
    height: 100%;
    width: 100%;
}

.footerContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 3rem;
    max-width: 120rem;
    margin: 0 auto;
}

.footerContainer>div {
    max-width: 20.5rem;
    min-width: 10.5rem;
}

.footerContainer h3 {
    border-bottom: .5rem solid var(--firstColor);
    padding-inline: 1rem;
    margin-bottom: 1.1rem;
    font-size: var(--thirdTitle);
}

.footerContainer p {
    font-size: var(--paragraph);
}

.footerContainer a {
    text-decoration: none;
    text-decoration-color: var(--firstColor);
    color: var(--thirdColor);
}

.footerContainer>div:first-of-type a {
    text-decoration: revert;
    text-decoration-color: var(--firstColor);
    color: var(--thirdColor);
    font-size: var(--thirdTitle);
}

.footerContainer>div:first-of-type a i {
    position: relative;
    top: .7rem;
    color: var(--firstColor);
    background-color: var(--footerBcg);
}

.footerContainer>div:nth-of-type(2) a {
    display: block;
    margin: .6rem;
}

.footerContainer>div:nth-of-type(2) a:hover {
    color: var(--firstColor);
    transform: scale(1.5);
}

.footerContainer>div:nth-of-type(3)>h3 {
    margin-bottom: 3rem;
}

.footerContainer>div:nth-of-type(3) a {
    color: var(--firstColor);
    margin: .6rem;
    font-size: var(--thirdTitle);
}

.Copyrigth {
    padding: .5rem;
    font-size: var(--thirdTitle);
}


/******************** Admin dashboard page style  *************************/
/*****************                                ****************/
.forDash {
    height: 68vh;
}

.dash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: initial;
}

.dash>ul>li {
    list-style: none;
}

.dashElement {
    margin-top: 2rem;
}

.dash>h3 {
    background-color: var(--firstColor);
    width: 100%;
}

.dash a {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    margin-inline: 1rem;
    margin-block: .5rem;
    width: 22rem;
    padding: .5rem;
    color: var(--thirdColor);
    background-color: var(--secondColor);
}

.dashActive {
    background-color: var(--firstColor);
}

.publier,
.retirer {
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: normal;
    border-radius: .5rem;
}

.publier {
    border: 2px solid  var(--firstColor);
}

.retirer {
    border: 2px solid red;
}

.total {
    margin-block: 4rem;
    padding: 0.5rem;
    font-size: 2rem;
    background-color: var(--fourthColor);
    border-radius: 2rem;
}

.dashGalerie {
    padding: 5rem;
}

.dashGalerie fieldset {
    padding: 2rem;
}

.dashGalerie fieldset>legend {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
}

.dashGalerie>form input[type="text"] {
    margin-block: 1rem;
    height: 3rem;    
    border-radius: 1rem;
    text-align: center;
    font-size: 1.5rem;

}

.dashGalerie button {
    margin: 1rem;
}


/******************** Login page style  *************************/
/*****************                         ****************/
.login_container {
    position: relative;
    padding-bottom: 5rem;
}

.login_circle {
    height: 25rem;
    background-image: url(../images/laptop-code.jpg);
    background-size: cover;
    background-position: center;
    border-bottom-right-radius: 70%;
}

.login_circle>img {
    width: 100%;
    height: 100%;
}

.welcomeback{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.welcomeback>h2{
    font-size: var(--secondTitle);
    color: var(--firstColor);
}

.login_form {
    position: relative;
    text-align: center;
}

/*This class is to display message about inputs*/
.inputMsg {
    color: red;
}

.login_form div>input[type="text"], 
.login_form div>input[type="email"], 
.login_form div>input[type="password"] {
    height: 4rem;
    width: 35rem;
    margin: 1.5rem;
    font-size: 1.7rem;
    text-align: center;
    /* padding: 1rem; */
    border-radius: 2rem;
    border: 2px solid var(--fourthColor);
}

.login_form div>input[type="file"] {
    height: 4rem;
    width: 30rem;
    margin: 1.5rem;
    font-size: 1.7rem;
    text-align: center;
    padding: 1rem;
    background-color: var(--thirdColor);
    border-radius: 2rem;
}

.login_form div>input:focus {
    background-color: rgba(255, 166, 0, 0.499);
    backdrop-filter: blur(7px);
}

.login_form div:nth-child(3) {
    display: flex;
    justify-content: center;
    margin-top: .5em;
}

.login_form div:nth-child(3)>div {
    padding-block: 1.3rem;
    margin-right: 3rem;
    font-size: var(--paragraph);
    
}

/** also btn-11 **/
.login_form>[type="submit"] {
    width: 20em;
    height: 2.5em;
    margin: 1em;
    font-size: 1.5rem;
    border-radius: 1.5em;
    color: aliceblue;
}

.login_span {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 5px;
    width: 150px;
    background-color: var(--firstColor);
}

/******************** Home connexion page style  *************************/
    /****************                              ****************/

.portail {
    height: 70vh;
    background-image: url(../images/abstract-p.jpg);
    background-position: center;
    background-size: 100%;
}

.portail>.login_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portail .login, 
.portail .signup {
    padding-inline: 1.5rem;
    padding-block: .5rem;
    margin: 1.5rem;
    border-radius: 5rem;
    font-style: italic;
    background-color: var(--firstColor);
}

.portail .login>a,
.portail .signup>a {
    color: var(--thirdColor);
    text-decoration: none;
    font-family: sourceSansPro-Bold;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
}

.register_form .login_circle {
    height: 25rem;
    background-image: url(../images/code-line.jpg);
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: revert;
}

.custom-btn {
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: var(--firstFF);
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}


        /* Page HomeContact button */
        .btn-11 {
            border: none;
            background: rgb(251, 33, 117);
            background: linear-gradient(0deg, rgba(17, 16, 15, 0.566) 0%, var(--secondColor) 100%);
            color: #fff;
            overflow: hidden;
        }

        .btn-11:hover {
            text-decoration: none;
            color: #fff;
        }

        .btn-11:before {
            position: absolute;
            content: '';
            display: inline-block;
            top: -180px;
            left: 0;
            width: 30px;
            height: 100%;
            background-color: #fff;
            animation: shiny-btn1 3s ease-in-out infinite;
        }

        .btn-11:hover {
            opacity: .7;
        }

        .btn-11:active {
            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2),
                inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
                inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
        }


        @keyframes shiny-btn1 {
            0% {
                transform: scale(0) rotate(45deg);
                opacity: 0;
            }

            80% {
                transform: scale(0) rotate(45deg);
                opacity: 0.5;
            }

            81% {
                transform: scale(4) rotate(45deg);
                opacity: 1;
            }

            100% {
                transform: scale(50) rotate(45deg);
                opacity: 0;
            }
        }

/******************** Contact and create article page style  *************************/
      /**********************                        ****************/

.contact_form,
.article_form {
    border: 2px solid var(--fourthColor);
    text-align: left;
    padding-inline: 2rem;
    padding-block: 3rem;
}

.contact_form div>input[type="text"], 
.contact_form div>input[type="email"],
.article_form div>select,
.article_form div>input[type="text"] {
    height: 3rem;
    max-width: 100%;
    min-width: 50%;
    margin: 1.5rem;
    font-size: 1.7rem;
    border: 2px solid var(--fourthColor);
}

#message,
#body {
    width: 70%;
    /* max-width: 30rem; */
    margin: 1.5rem;
    font-size: 1.7rem;
    border: 2px solid var(--fourthColor);
}

.contact_form div>label,
.article_form div>label {
    font-size: 1.5rem;
}


/******************** show article page style  *************************/
    /*********************                  ****************/
.displayComment {

    margin-top: 8rem;
    border-top: 1rem outset var(--fourthColor);
}

.displayComment>fieldset {
    margin-top: 5rem;
}

.displayComment>fieldset>legend {
    font-size: var(--thirdTitle);
}

.comments {
    margin-top: 5rem;
    /* border-top: 2px solid red; */
}

.commentsContent>textarea {
    height: 5rem;
    width: 75%;
    resize: none;
    text-align: left;
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
}

.commentsContent>i {
    height: 6rem;
    font-size: 5rem;
    position: relative;
    bottom: 1.5rem;
    cursor: pointer;
    border: .1rem solid var(--footerBcg);
}

.commentBtn {
    position: relative;
    left: .5rem;
}

.showComment {
    margin-block: 2rem;
    padding-left: 2rem;
    background-color: var(--fourthColor);
}

.forArticle>fieldset>legend {
    font-size: var(--thirdTitle);
}

.imgAndName {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
}

.imgAndName>p:first-of-type {
    width: 5rem;
    height: 5rem;
}

.imgAndName>p:last-of-type {
    position: absolute;
    right: 2%;
    width: 10rem;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;

}

.imgAndName>p:first-of-type>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: .2rem solid var(--firstColor);
}

.imgAndName>h4 {
    padding-inline: 1rem;
    display: inline;
}



/******************** Profil page style  *************************/
    /*********************                  ****************/

.profil img {
    width: 50%;
    /* height: 20rem; */
    border-radius: 50%;
}

.profil>.forNews>div>p:last-of-type {
    color: var(--firstColor);
    text-decoration: underline;
}

.profil>.forNews>div>div>a {
    display: block;
    margin-block: 1rem;
    width: 30rem;
}

.profil>.forNews>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.authorAticles,
.articleTab {
    border-collapse: collapse;
}

.authorAticles td,
.articleTab td {
    border-bottom: .3rem solid var(--fourthColor);
    padding-bottom: .8rem;
    padding-inline: 1rem;
    padding-block: .5rem;
    text-align: center;
    font-size: 1.5rem;
}

.authorAticles th,
.articleTab th {
    color: var(--firstColor);
    padding-bottom: .5rem;
    text-align: left;
    font-size: 1.5rem;
    text-align: center;
    font-size: 2rem;
}

.articleTab {
    width: 100%;
    margin: initial;
}

.articleTab td:first-of-type {
    text-align: left;
}

.authorAticles a {
text-decoration: none;
}


/******************* The responsif code start here ******************/
        /********************     *****************/
/******************* The responsif code start here ******************/

@media screen and (max-width: 980px) {
    .nav_logo {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    nav>ul>li:nth-of-type(4) {
        justify-self: end;
    }
        
    header>nav>ul>li {
        margin-inline: 6rem;
        padding-inline: 3rem;
        padding-block: 1rem;
    }
    
    .elite {
        left: 5%;
    }
    
    .elite>p:first-of-type {
        font-size: 4rem;
        max-width: 40rem;
    }
    
    #highfive,
    .univ {
        font-size: 4rem;
        max-width: 20rem;
    }
    
    .elite>p:first-of-type>span {
        top: 5%;
        left: 30%;
        height: 7rem;
        width: 100%;
    }

    .univ {
        display: none;
        position: absolute;
        bottom: .2%;
        left: 50%;
        animation: univ 4s forwards ;
    }   

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-inline: 2rem;
    }
    
    .forSection {
        width: 100%;
        padding: 1rem;
        /* padding-bottom: 80rem; */
        background-color: var(--thirdColor);
    }

    .discover-card {
        width: 85%;
        height: 100%;
    }
    
    .discover-wrapper {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .discover-card-txt>h3>a {
        font-size: 2.5rem;
        padding: 0.2rem;
    }

                 /* aside responsive   */
          /* ****************************** */
    aside {
        width: 75%;
        /* margin: 20rem; */
        background-color: var(--thirdColor);
    }

    aside section {
        width: 100%;
        background-color: var(--thirdColor);
    }

    .footerContainer {
        justify-content: space-around;
    }
    
}


@media screen and (max-width: 600px) {
    .logo {
        display: flex;
        justify-content: space-around;
        padding-inline: 2rem;
    }
    
    .logo>a{
        text-align: left;
        display: flex;
    }

    .fa-bars {
        font-size: 3rem;
        display: block;
    }

    .logo>a>img {
        width: 80%;
        height: 100%;
    }

    header nav>ul {
        width: 100%;
        height: 100vh;
        margin-top: 2rem;
        position: absolute;
        display: none;
        flex-direction: column;
        background-color: rgba(6, 6, 6, 0.846);
        z-index: 1;
    }
    
    .hamburger {
        display: block;
    }

    header nav>ul>li:last-child {
        position: relative;
        left: 25%;
    }
    
    header nav .fa-solid  {
        margin: 0.5rem;
        transform: scale(1.2);
    }
            
    nav>ul>li>a {
        color: var(--thirdColor);
    }

    .elite {
        color: var(--thirdColor);
    }

    .elite>p:first-of-type {
        font-size: 2rem;
        max-width: 20rem;
    }
    
    #highfive,
    .univ {
        font-size: 3rem;
        max-width: 30rem;
    }

    .elite>p:first-of-type>span {
        top: 11%;
        left: 0%;
        height: 2rem;
        width: 100%;
    }

    .univ {
        display: none;
        position: absolute;
        top: 75%;
        left: 0%;
        animation: univ 4s forwards ;
    }   
    
    .block_title {
        min-height: 25vh;
    }
        

    .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-inline: 1rem;
    }
    
    .forSection {
        width: 100%;
        height: 100%;
    }
    
    .discover-wrapper {
        padding: 1rem;
    }

    .discover-card {
        width: 100%;
    }

    .forNews>img {
        width: 100%;
    }
    
    .block_title {
        width: 90vw;
        height: 10rem;
    }

    .block_title>h2 {
        font-size: var(--thirdTitle);
    }
    
    .block_title>span {
        font-size: 1.2rem;
    }

    aside {
        width: 90%;
        background-color: var(--fourthColor);
    }

    aside section {
        width: 100%;
        text-align: center;
        background-color: var(--thirdColor);
    }

    .footerContainer {
        flex-direction: column;
        align-items: center;
    }

    .footerContainer div:first-of-type~div {
        margin-top: 3.5rem;
    }
        
}

@media screen and (max-width: 400px) {

    .block_title {
        min-height: 35vh;
    }    

}

